:root {
    --COLOR_BODY: #000;
    --COLOR_TEXT: #7a72df;
    --COLOR_TEXT_HD: #b2b2b2;
    --COLOR_BRD: #22274e;
    --COLOR_CHROME_BG: #16172a;
    --COLOR_AFFECT: #FF0000;
    --COLOR_AFFECT_HOVER: #450d9b;
    --COLOR_LINK: #5a67ce;
    --COLOR_WIDGET_INPUT_BG: #97b0f6;
    --COLOR_AI_PROMPT_TEXT: #72d4df;
}


