:root {
    --COLOR_BODY: #fff;
    --COLOR_TEXT: #000;
    --COLOR_TEXT_HD: #9588e1;
    --COLOR_BRD: #c6c6c6;
    --COLOR_CHROME_BG: #e3e3e3;
    --COLOR_AFFECT: #00cc06;
    --COLOR_AFFECT_HOVER: #baa2dc;
    --COLOR_LINK: #5a67ce;
    --COLOR_WIDGET_INPUT_BG: #e0e8ff;
}


