*,
*::before,
*::after {
  box-sizing: border-box;
}



body {
  margin: 0;
  font-family: Consolas, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--COLOR_BODY);
  color: var(--COLOR_TEXT);
  padding: 10px;
}

.border {
    border: 1px;
    border-style: solid;
    border-radius: 7.5px;
    border-color: var(--COLOR_BRD);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loader {
  border-top: 16px solid var(--COLOR_BRD);
  border-bottom: 16px solid var(--COLOR_AFFECT);
  border-radius: 50%;
  width: 150px;
  height: 150px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

h1{
  color: var(--COLOR_TEXT_HD);
  display: block;
  font-size: 28px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
}
h2{
  margin-bottom: 0;
  color: var(--COLOR_TEXT_HD);
}
h3{
  color: var(--COLOR_TEXT_HD);
  margin-bottom: 0;
}
p{margin-top: 0;}
span{color: var(--COLOR_TEXT);}

/* unvisited link */
a:link {
  color: var(--COLOR_LINK);
}

/* visited link */
a:visited {
  color: var(--COLOR_LINK);
}

/* mouse over link */
a:hover {
  text-decoration: underline;
  color: var(--COLOR_LINK);
}

/* selected link */
a:active {
  color: var(--COLOR_LINK);
}


.nav .ribbon-cntrls{
  width: 100%;
  margin: 5px;
  align-items: center;
  display: inline-flex;
}

.display-flex{
  display: flex !important;
}

.result-container{
  display: flex;
}
.result-container .up-vote-btn{
 width: 55px;
 height: 50px;
 background-image: url('http://localhost:3000/img/btn_up_vote.png');
 cursor: pointer;
 margin-right: 5px;
}
.result-container .up-vote-btn span{
  color: var(--COLOR_TEXT);
  display: table;
  margin: 0 auto;
  padding: 5px;
}

#console_log
{
  height: 200px;
  overflow: auto;
}

#console_log ul{
  display: inline-block;
  align-self: flex-end;
}
#console_log ul li{
list-style-type: none;
}

#prompt_container{
  margin-left: 0;
  padding: 8px;
  background-color: var(--COLOR_BODY);
}
#prompt_cmd{
  font-size: 20px;
  font-family: "Consolas";
}
#prompt_container input[type="text"]{
  width: 60%;
  height: 20px;
  background-color : var(--COLOR_BODY); 
  color: var(--COLOR_TEXT);
  font-family: "Consolas";
  font-size: 20px;
  padding: 2px;
  border: none;
}
#prompt_container input:focus{
  caret-color: var(--COLOR_AFFECT);
  outline: none;
  top: -5px;
}

input[type="text"]{
  border: 0px;
  padding: 3px;
  width: 100%;
  caret-color: var(--COLOR_AFFECT);
  background-color: var(--COLOR_WIDGET_INPUT_BG);
  outline: none;
  top: -5px;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
      opacity: 1;
  }
  49% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
  100% {
      opacity: 0;
  }
}

.label{
  color: var(--COLOR_TEXT);
}




div.p-contents.profile > div.settings.card > div.select-results-card > form > ul
{
  display: block;
}
  .p-chrome{
    display: flex;
    align-items: center;
    padding: 10px;
    height: 25px;
    background-color: var(--COLOR_CHROME_BG);
    margin-bottom: 5px;
    height: 45px;
  }

  img.img-btn.save{
    margin-left: auto;
    animation: blink .75s;
    animation-iteration-count: infinite;
  }

 
  .w-chrome {
    padding: 7px 0px 10px 20px;
    display: flex;
    height: 25px;
    background-color: var(--COLOR_CHROME_BG);
    margin-bottom: 3px;
    cursor: pointer;
    height: auto;
    overflow: hidden;
  }
  .w-chrome .title{
    margin-top: 15px;
    font-size: 20px;
  }
  .w-chrome button {
    position: relative;
    background: transparent;
    border: 0px;
    float: right;
    height: 30px;
  }
  .w-chrome button:hover {
    background: transparent;
  }

  .w-chrome .buttons {
    display: flex;
    padding: 0 10px;
    margin-left: auto;
  }
  .w-chrome .buttons{
    margin-left: auto;
    height: 35px;
  }

  .buttons img{
    cursor: pointer;
  }

  .p-chrome .add{
    cursor: pointer;
    width: 15px;
    height: 15px;
    margin-right: 5px;
  }
  .p-chrome button{
    display: block;
    align-self: left;
  }
  
  .p-chrome .gear{
    display: block;
    width: 35px;
    float: left;
    margin-right: 5px;
  }
  .p-chrome .title{
    display: block;
    font-size: 20px;
    color: var(--COLOR_TEXT);
    float: left;
    margin-right: 5px;
  }

  .w-container{
    display: block;
    overflow: hidden;
    float: left;
    margin: 10px;
    background-color: var(--COLOR_BODY);
    position: relative;
  }
  .p-panel{
    display: block;
    margin-top: 15px;
    overflow: auto;
    }
    
  .w_container{
    background-color: var(--COLOR_BODY);
    min-width: 300px;
    min-height: 300px;
    margin: 10px;
    padding-left: 0px !important;
    float: left;
  }

  .w-add-devity{
    overflow-y: scroll;
  }
  .w-add-devity div{
    margin-left: 5px;
    width: 100px;
    height: 100px;
    padding: 25px;
    border: 1px;
    border-style: solid;
    border-color: var(--COLOR_BRD);
  }
  .w-add-devity figure{
    width: 25%;
    margin: auto;
  }
  .w-add-devity figcaption {
    text-align: center;
  }


.p-contents{
  padding: 10px;
  flex-wrap: wrap;
}

#console > div.cmd_type_radio label{
  color: var(--COLOR_TEXT);
  font-size: 12px;
  align-self: center;;
}

.img-btn{
  cursor: pointer;
}


.min{
  width: 300px;
  height: 300px;
}

.max{
  width: 98%;
  min-height: 500px;
}


.w-title{
  display: block;
  width: 100%;
  align-items: center;
  color: var(--COLOR_TEXT);
}

.rotate {
  animation: rotation 2s infinite linear;
}



@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
 
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0px 0px 0px #000; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--COLOR_BRD);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--COLOR_BRD);
}



.w-ctrl-add{


}
.w-ctrl-add figcaption {
  color: var(--COLOR_LINK);
}

.results ul { 
  list-style-type: none; 
  margin: 0; 
  padding: 0;  
  margin-left: 10px;
  margin-bottom: 50px;
}

.results li { 
  margin-bottom: 20px;
}

.widget{
  padding: 5px;
  height: 100%;
  word-wrap: break-word;
  background-color: var(--COLOR_BODY);
}

.widget ul>li:nth-child(odd){
  background-color: var(--COLOR_CHROME_BG);
}
.widget ul li{
  display: flex;
  align-items: center;
  padding: 3px;
}​

.w_overflowable ul{
  max-width: 100%;
}
.w-links{
padding: 10px;
}
.w-links ul{
padding-left: 0px;
}
.w-links ul li{
list-style-type: none;
margin-bottom: 5px;
}
.w-links ul li a{
  text-decoration: none;
  word-wrap: break-word;
  display: block;
  width: 98%;
  font-size: 14px;
}
.w-links a:hover{
  text-decoration: underline;
}

.img-btn .min{
  height: 100%;
}

.w_copyable{
  cursor: copy;
}
.w_maximize{
  height: 100%;
}

.w_title{
  color: white;
}
.widget li a{
  color: var(--COLOR_TEXT);
}
.w_overflowable{
  overflow:auto;
  height: 85%;
}
/* .hide-controls div{
  display: none;
} */
.off div{
  display: none;
}

.lib-tbl{
  width: 100%;
  color: var(--COLOR_TEXT);
}
.lib-tbl tr:nth-child(odd) td{
  background-color: var(--COLOR_CHROME_BG);
}

.lib-tbl tr th{
color: var(--COLOR_TEXT);
}

.lib-tbl tr:nth-child(even):hover td{
  background-color: var(--COLOR_AFFECT_HOVER);
}
.lib-tbl tr:nth-child(odd):hover td{
  background-color: var(--COLOR_AFFECT_HOVER);
}



.hide{
  display: none !important;
}

.clipboard{
  padding-left: 10px;
}
.clipboard ul{
 margin-top: 5px;
 padding-left: 0px;
}
.clipboard ul li{
  list-style-type: none;
  margin-bottom: 5px;

}
.clipboard ul li span{
  display: block;
  word-wrap: break-word;
  width: 98%;
  font-size: 14px;
}

.widget ul li:hover{
  background-color: var(--COLOR_AFFECT_HOVER);
}

.tiny-editor-box {
  min-width: 90%;
  min-height: 70%;
  padding: 2px 2px 2px 2px;
}

div.mce-content-body {
  min-height: 200px;
}



div[data-panel=RESULTS] {
  display: flex;
}

#googleSearchResult {
  float: left;
}

#youtubeSearchResults {
  float: right;
}

.settings{
  
}

.library table tr td{
  padding: 10px;
}

#library-hd{
 display: flex;
 width: 400px;
 margin: auto;
}
.library-hd span{
  display: inline-flex;
  padding-left: 10px;
 }

 


.profile ul li{
display: inherit;
list-style-type: none;
margin-right: 10px;
margin-bottom: 10px;
background: var(--COLOR_BODY);
padding: 20px;
height: 75px;
}

.profile ul li label{
  line-height: 25px;
}


.profile .user-card {
  box-shadow: 0 5px 15px 5px var(--COLOR_BRD);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.profile .interests-card {
  box-shadow: 0 5px 15px 5px var(--COLOR_BRD);
  max-width: 600px;
  margin: auto;
  text-align: center;
}

input[type='checkbox']:checked {
  text-align: center;
}
input[type='checkbox']:checked:after {
  text-align: center;
  content: '\2713';
  color:var(--COLOR_AFFECT);
}

input[type='checkbox']{
  text-align: center;
  width: 20px !important;
  height: 20px !important;
  appearance:none;
  border-radius:10%;
  border: 0px solid var(--COLOR_BODY);
  box-shadow: none;
  font-size: 1em;
}

select{
  background-color: var(--COLOR_CHROME_BG);
  color:var(--COLOR_TEXT);
  padding: 10px;
  font-size: 16px;
}

select > option{
  padding: 10px;
  font-size: 16px;
}

.error{
  color: var(--COLOR_AFFECT);
}

.nav button{
  border-width: 0px;
}
#session_summary > button {
  border-style: double;
  border-width: 2px;
  border-color: var(--COLOR_BRD);
  background-color: var(--COLOR_WIDGET_INPUT_BG);
}

#session_summary  a{
  color: var(--COLOR_LINK);
}

button:hover {
  cursor: pointer;
}
button figure figcaption span{
  color: var(--COLOR_LINK);
}
button figure figcaption{
  color: var(--COLOR_LINK);
}
span.w_copyable.filterable {
  display: inline-block;
}
.w-input-txt {
  cursor: pointer;
}
.add-subtype {
  cursor: pointer;
}
.jira-ticket-type input[type="checkbox"] {
  border: 1px solid var(--COLOR_LINK_VISITED);
}
.ticket-statuses input[type="checkbox"] {
  border: 1px solid var(--COLOR_LINK_VISITED);
}
.ticket-priorities input[type="checkbox"] {
  border: 1px solid var(--COLOR_LINK_VISITED);
}
.issue-horizontal {
  display: flexbox;
}
.link-button {
  background-color: transparent;
  border: none;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
  color: blue;
}
.linkContentForm, .clipboardContentForm {
  width: 100%;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .min{
    width: 100%;
    height: 500px;
  }
  .console-max {
    display: block;
  }
  .nav{
    width: 100%;
    display: flex;
  }
  .nav button{
    width: 15%;
    background-color:  var(--COLOR_BODY);
  }
  .nav button img{
    height: 50%;
    width: 50%;;
  }
  #console > div.cmd_type_radio{
    display: flex;
    width: 25%;
    padding: 7px;
    margin: auto;
  }
  .nav-min{
    display: flex;
    float: right;
    width: 300px;
  }
  .profile{
    display: block;
  }
  .profile .card{
    padding-left: 20px;
  }
  .profile .settings{
   width: 100%;
  }
  .profile .personal{
    width: 100%;
  }
  .profile ul{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    max-width: 100%;
  }
  
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .nav{
    width: 100%;
    display: flex;
  }
  .nav button{
    width: 15%;
    background-color:  var(--COLOR_BODY);
  }
  .nav button img{
    height: 50%;
    width: 50%;;
  }
  #header_container{
    display: block;
  }

  #console > div.cmd_type_radio{
    display: flex;
    padding: 7px;
  }
  .nav-min{
    display: flex;
    float: right;
    width: 30%;
  }
  .profile{
    display: block;
  }
  .profile .card{
    padding-left: 20px;
  }
  .profile .settings{
   width: 100%;
  }
  .profile .personal{
    width: 100%;
  }
  .profile ul{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    max-width: 100%;
  }
 
}
/* Medium devices (landscape tablets, 768px and up) */ 
@media only screen and (min-width: 768px) {
  #header_container{
    display: flex;
  }
  .console{
    width: 50%;
  }
  .nav{
    width: 50%;
    display: flex;
  }
  .nav button{
    width: 15%;
    background-color:  var(--COLOR_BODY);
  }
  .nav button img{
    height: 50%;
    width: 50%;;
  }
  .cmd_type_radio{
    display: block;
    padding: 7px;
    margin-left: auto;
    margin-right: 0;
  }
  .profile{
    display: block;
  }
  .profile .card{
    padding-left: 20px;
  }
  .profile .settings{
   width: 100%;
  }
  .profile .personal{
    width: 100%;
  }
  .profile ul{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    max-width: 100%;
  }

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #header_container{
    display: flex;
  }
  .console{
    width: 50%;
  }
  .nav{
    width: 50%;
    display: flex;
  }
  .nav button{
    width: 15%;
    background-color:  var(--COLOR_BODY);
  }
  .nav button img{
    height: 50%;
    width: 50%;;
  }
  .profile{
    display: flex;
  }

  .profile .card{
    padding-left: 100px;
  }
  .profile .settings{
   width: 30%;
  }
  .profile .personal{
    width: 70%;
  }
  .profile ul{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    max-width: 100%;
  }

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #header_container{
    display: flex;
  }
  .nav{
    width: 50%;
    display: flex;
  }
  .nav button{
    width: 15%;
    background-color:  var(--COLOR_BODY);
  }
  .nav button img{
    height: 50%;
    width: 50%;;
  }
  .profile{
    display: flex;
  }

  .profile .card{
    padding-left: 100px;
  }
  .profile .settings{
   width: 50%;
  }
  .profile .personal{
    width: 50%;
  }
  .profile ul{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    max-width: 100%;
  }

}

.copy-container {
  display: flex;
  align-items: center;
}
.copy-text-session, .copy-text-ip {
  margin-right: 10px;
}
.copy-clipboard-btn {
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
}

.filter-tag {
  display: inline-block;
  background-color: var(--COLOR_BRD);
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 7px;
}
.filter-tag span {
  margin-right: 5px;
}
.filter-tag img {
  cursor: pointer;
  width: 12px;
}


.rss-item {
  display: flex;
  flex-wrap: wrap;
}
.rss-figure {
  float: left;
  padding: 0 5px 0px 0px;
  margin: 0 0 0 0;
}
.rss-min-font {
  font-size: small;
}
