.App {
 
}


.logo{
  pointer-events: none;
}

.nav-max{
  width: 100%;
  display: flex;
}

.nav-max .ribbon-cntrls{
  margin:auto;
  width: 820px;
  margin-bottom: 5px;
}

.nav-max button{
  background-color:  var(--COLOR_BODY);
  margin-right: 10px;
}
.nav-max button img{
  height: 100px;
  width: 100px;;
}
.nav-min{
  display: flex;
  float: right;
}
.nav-min button{
  background-color:  var(--COLOR_BODY);
  margin-right: 7px;
}
.nav-min button img{
  height: 50px;
  width: 50px;
}
.nav-min span{
  font-size: 11px;
}

.nav-min .ribbon-cntrls{

}

.display-flex{
  display: flex !important;
}

.result-container{
  display: flex;
}
.result-container .up-vote-btn{
 width: 55px;
 height: 50px;
 background-image: url('http://localhost:3000/img/btn_up_vote.png');
 cursor: pointer;
 margin-right: 10px;
}
.result-container .up-vote-btn span{
  color: var(--COLOR_TEXT);
  display: table;
  margin: 0 auto;
  padding: 5px;
}

#console_log
{
  height: 200px;
  overflow: auto;
}
.console-max {
  display: flex;
}
.console-min {
  width: 525px;
  margin-bottom: 5px;
}

#console_log ul{
  display: inline-block;
  align-self: flex-end;
}
#console_log ul li{
list-style-type: none;
}

#prompt_container{
  margin-right: auto;
  margin-left: 0;
  width: 500px;
  padding: 8px;
  border: 2px;
  border-style: solid;
  border-color: var(--COLOR_PANEL_BRD);
  background-color: #000;
}
#prompt_cmd{
  font-size: 20px;
  font-family: "Consolas";
}
#prompt_container input[type="text"]{
  width: 60%;
  height: 15px;
  background-color : var(--COLOR_prompt_input_BG); 
  color: var(--COLOR_TEXT);
  font-family: "Consolas";
  font-size: 20px;
  padding: 2px;
  border: none;
}
#prompt_container input:focus{
  caret-color: red;
  outline: none;
  top: -5px;
}


@media (max-width: 780px) {

  #nav_console{
    display: none;
  }
  .ribbon-cntrls{
    margin:auto;
    margin-bottom: 5px;
  }
  
  .nav-max button{
    background-color:  var(--COLOR_BODY);
    margin-right: 7px;
  }
  .nav-max button img{
    height: 50px;
    width: 50px;;
  }

  #prompt_container{
    display: block;
    position: relative;
    left: 8px;
    margin: auto;
    width: 95%;
    padding: 5px;
    border: 1px;
    border-style: solid;
    border-radius: 15px;
    border-color: var(--COLOR_PANEL_BRD);
  }
  #prompt_cmd{
    font-size: 15px;
    font-family: "Consolas";
  }
  #prompt_container input[type="text"]{
    width: 60%;
    height: 15px;
    background-color : var(--COLOR_prompt_input_BG); 
    color: var(--COLOR_TEXT);
    font-family: "Consolas";
    font-size: 16px;
    padding: 2px;
    border: none;
  }

}





@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}





.label{
  color: var(--COLOR_TEXT);
}
.p-panel{
display: block;
margin: 10px;
width: 98%;
min-height: 250px;
border: 1px;
border-style: solid;
border-radius: 15px;
border-color: var(--COLOR_PANEL_BRD);
overflow: auto;
}

.p-contents{
  padding: 10px;
}

.p-title{
  display: block;
  align-items: center;
  color: var(--COLOR_TEXT);
  float: left;
  margin-right: 5px;
}

.p-chrome{
  display: block;
  padding: 10px;
  height: 25px;
  background-color: var(--COLOR_PANEL_CHROME_BG);
  margin-bottom: 20px;
}

.p-chrome button{
  display: block;
  align-self: left;
}

.p-chrome .gear{
  display: block;
  width: 25px;
  float: left;
  margin-right: 5px;
}

.add-btn{
  cursor: pointer;
  width: 12px;
  margin-right: 5px;
}

.w-container{
  display: block;
  float: left;
  width: 300px;
  height: 300px;
  border: 2px;
  border-style: solid;
  border-radius: 5px;
  margin: 10px;
  border-color: var(--COLOR_WIDGET_BRD);
  background-color: var(--COLOR_WIDGET_BG);
  position: relative;
}

.w-chrome {
  padding: 5px 0px 10px 20px;
  height: 25px;
  background-color: var(--COLOR_PANEL_CHROME_BG);
  margin-bottom: 3px;
  cursor: pointer;
}
.w-chrome button {
  position: relative;
  background: transparent;
  border: 0px;
  float: right;
  height: 30px;
}
.w-chrome button:hover {
  background: transparent;
}

.w-title{
  display: block;
  width: 100%;
  align-items: center;
  color: var(--COLOR_TEXT);
}

.rotate {
  animation: rotation 2s infinite linear;
}



@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}


  

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color: var(--COLOR_BODY);
  padding: 10px;
}
h1{
  color: var(--COLOR_TEXT);
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
h2{
  color: var(--COLOR_TEXT);
}
h3{
  color: var(--COLOR_TEXT);
}
p{
  color: var(--COLOR_TEXT);
}
span{
  color: var(--COLOR_TEXT);
}
label{
  color:  var(--COLOR_TEXT);
}

li{
  color:  var(--COLOR_TEXT);
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--COLOR_PANEL_BRD);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--COLOR_PANEL_BRD);
}



.w_ctrl_add{


}
.w_ctrl_add figcaption {
  color: var(--COLOR_LINK);
}

/* unvisited link */
a:link {
  color: var(--COLOR_LINK);
}

/* visited link */
a:visited {
  color: var(--COLOR_LINK_VISITED);
}

/* mouse over link */
a:hover {
  color: var(--COLOR_LINK_HOVER);
}

/* selected link */
a:active {
  color: var(--COLOR_LINK_ACTIVE);
}

.hidden{display: none;}
/* Cannot set a style like this as it effects all elements UL/LI everywhere. Have to be more specific,
like .my-container ul li {something}
ul { list-style-type: none; margin: 0; padding: 0;  }
li { margin: 5px; padding: 5px; width: 150px; } */

.results ul { 
  list-style-type: none; 
  margin: 0; 
  padding: 0;  
  margin-left: 10px;
  margin-bottom: 50px;
}

.results li { 
  margin-bottom: 20px;
}

.panel{
  background-color: var(--COLOR_PANEL_BG);
  min-height: 500;
  border-color: var(--COLOR_PANEL_BRD);
  border-style: solid;
  border-width: 2;
  overflow: auto;
}

.w_container{
  background-color: var(--COLOR_WIDGET_BG);
  border-radius: 5%;
  border: 1px;
  border-style: solid;
  border-color: var(--COLOR_WIDGET_BRD);
  min-width: 300px;
  min-height: 300px;
  margin: 10px;
  padding-left: 0px !important;
  float: left;
}
.widget{

}

.w-links{
padding: 10px;
}
.w-links ul{
padding-left: 0px;
}
.w-links ul li{
list-style-type: none;
margin-bottom: 5px;
}
.w-links a{
  text-decoration: none;
}
.w-links a:hover{
  color: red;
}


.w-notes-save-btn{
  display: flex;
  margin: auto;
  position:relative;
  color: red;
  top: -45px;
}
.w_copyable{
  cursor: copy;
}
.w_maximize{
  height: 100%;
}

.w_title{
  color: white;
}
.widget li a{
  color: var(--COLOR_TEXT);
}
.w_overflowable{
  overflow:auto;
  height: 90%;
}
/* .hide-controls div{
  display: none;
} */
.off div{
  display: none;
}

.lib-tbl{
  width: 100%;
}
.lib-tbl tr:nth-child(odd) td{
  background-color: var(--COLOR_LIBRARY_TABLE_ROW_BG);
}
.lib-tbl tr:nth-child(even) td{
  background-color: var(--COLOR_LIBRARY_TABLE_ROW_BG_ALT);
}

.lib-tbl tr th{
color: var(--COLOR_TEXT);
}

.lib-tbl tr:nth-child(even):hover td{
  background-color: var(--COLOR_LIBRARY_TABLE_ROW_HOVER);
}
.lib-tbl tr:nth-child(odd):hover td{
  background-color: var(--COLOR_LIBRARY_TABLE_ROW_HOVER);
}


.hide{
  display: none !important;
}

.clipboard{
  padding-left: 10px;
}
.clipboard ul{
 margin-top: 5px;
 padding-left: 0px;
}
.clipboard ul li{
  list-style-type: none;
  margin-bottom: 5px;

}
.clipboard ul li span{
  display: block;
}
.clipboard ul li span:hover{
  color: var(--COLOR_LINK_HOVER);
}

.tiny-editor-box {
  min-width: 90%;
  min-height: 70%;
  padding: 2px 2px 2px 2px;
}

div.mce-content-body {
  min-height: 200px;
}

#cmd_type_radio{
  display: block;
  width: 80px;
  padding: 3px;
  margin-left: auto;
  margin-right: 0;
}

div[data-panel=RESULTS] {
  display: flex;
}

#googleSearchResult {
  float: left;
}

#youtubeSearchResults {
  float: right;
}



