.config-gear-btn {
    padding: 0%;
    border-style: hidden;
}

.config-gear-btn .gear{
    display: block;
    width: 19px;
    float: left;  
    position: absolute;    
    top: 4px;
    left: 1px;
}