.user-card {
    box-shadow: 0 5px 15px 5px var(--COLOR_PANEL_BRD);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.interests-card {
    box-shadow: 0 5px 15px 5px var(--COLOR_PANEL_BRD);
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.title {
    color: grey;
    font-size: 18px;
    width: 170px;
}

.tiny-editor-box {
    border-color: white;
    border-radius: 5%;
    border-style: groove;
    min-width: 90%;
    min-height: 70%;
    padding: 5px 5px 5px 5px;
}

div.mce-content-body {
    min-height: 200px;
}